.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.flex-container {
    display: flex;
}

ul.list-group {
    width: 80%;
    display: inline-block;
}

div.view-buttons {
    display: inline-block;
    margin-left: 20px;
}

.flex-container div.view-buttons .btn-primary {
    margin-bottom: 10px;
    display: block;
}

.panel-heading {
    background-color: darkslategray;
    font-size: 1.5rem;
}

.control-label {
    font-size: 1.25rem;
}

.form-control {
    font-size: 1.1rem;
}

.btn-primary {
    background-color: darkslategray;
    font-size: 1.1rem;
}

.btn-default {
    font-size: 1.17rem;
}